@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&display=swap');

/*font defaults mobile view*/

body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size:40px;
	font-weight:700;
}

h2{
	font-size:50px;
	font-weight:700;
}

h3{
	font-size:32px;
	font-weight:600;
	font-style:italic;
	/*adjusting margins for h3 across all pages*/
	margin-top:30px;
	margin-bottom:0;
}

h4{
	font-size:24px;
	color:#26a682;
	font-weight:normal;
	/*adjusting margins for h4 across all pages*/
	margin-top:15px;
	margin-bottom:5px;
}

p{
	font-size:16px;
	font-weight:300;
	line-height:2;
	/*adjusting margins for p across all pages*/
	margin-top:0;
}

/*STYLES FOR ALL PAGES MOBILE VIEW*/

/*navigation in mobile view*/

header.header{
	/*set display to flex to allow centering*/
	display:flex;
	flex-direction:column;
	background-color:#3c3b3a;
}

/*centering logo image*/
.header img{
	width:88px;
	align-self:center;
}
/*centering nav*/
nav.head-nav{
	align-self:center;
}

/*styling for nav*/
nav.head-nav ul{
	list-style-type:none;
	padding:0;
	margin-top:0;
}

/*styling for nav*/
nav.head-nav ul li a{
	display:block;
	text-align:center;
	text-decoration:none;
	margin-bottom:10px;
	color:white;
}

/*styling the nav to show which page you are on*/
nav.head-nav ul li a.active{
	font-size:18px;
	font-weight:700;
}

/*adding a hover to nav*/
nav.head-nav ul li a:hover,
nav.head-nav ul li a:active{
	color:#26a682;
	transition:0.4s;
}

/*centering all text content that is on white backgrounds, all pages*/
div.white-block{
	width:80%;
	margin:auto;
}

/*width 100% for images at top of each page so it restricts to container size*/
img.top-img{
	width:100%;
	/*max-width so image will center once reaching this size*/
	max-width:600px;
	/*display block to allow centering*/
	display:block;
	margin:auto;
	margin-bottom:20px;
}

/*styling the footer*/
footer.footer{
	background-color:#3c3b3a;
	/*flex box so social media icons and go to top button can be side by side*/
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-top:20px;
	padding-bottom:20px;
}

div.soc-icons-text{
	/*grid so icons and text will be spaced properly and set together*/
	display:grid;
	grid-template-columns:repeat(4,1fr);
	justify-content:space-between;
	width:40%;
	/*set max width so it will increase until hitting this size then center*/
	max-width:190px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	align-self:center;
}

/*invisible box to take up space in flex in order to center follow us content*/
div.invis-box{
	width:70px;
}

/*styling follow us text*/
div.soc-icons-text h4{
	color:#f2f2f2;
	font-size:24px;
	grid-column:1/5;
	justify-self:center;
	margin-bottom:5px;
}

/*adjusting pacement of go to top*/
div.soc-icons-text a{
	justify-self:center;
}

/*adjusting spacing on go to top button*/
div.go-to-top{
	align-self:center;
	margin-top:20px;
	margin-right:20px;
}

/*styling go to top*/
div.go-to-top a{
	text-decoration:none;
	color:#f2f2f2;
}

div.go-to-top a p{
	font-size:9px;
	margin-top:0;
}

/*animation to make go to top button bob upwards*/
@keyframes bob-up{
	50%{
		transform:translate(0,-20px);
	}
}

/*centering go to top and adjusting size*/
div.go-to-top a img{
	display:block;
	width:60%;
	margin:auto;
	/*animation settings for bob*/
	animation-name:bob-up;
	animation-duration:2s;
	animation-iteration-count:infinite;
  	animation-timing-function:linear;
}

/*styling for all buttons*/
button{
	border:none;
	border-radius:25px;
	background-color:#26a682;
	color:#f2f2f2;
	box-shadow:0px 5px 5px #a9a9a9;
}

/*animation for all buttons*/
@keyframes grow{
	50%{ 
    transform: scale(1.1);
  } 
}

/*animation to have buttons pulse in size when hovering over them*/
button:hover{
	animation-name:grow;
	animation-duration:1.5s;
  	animation-iteration-count:infinite;
  	animation-timing-function:linear;
}

/*STYLES FOR HOME PAGE MOBILE VIEW*/

/*styling the h4 for homepage top block on home page*/
div.top-block-home h4{
	font-size:20px;
	font-style:normal;
	color:black;
	line-height:2;
	/*adjusting margin-top as line-height caused spacing issues*/
	margin-top:0;
}

div.top-block-home h1{
	/*adjusting margin-bottom to fix spacing issues between h1 and h4 in top block of the home page*/
	margin-bottom:10px;
}

/*styling for the activity icons on home page*/
div.icons{
	display:grid;
	grid-template-columns:1fr 1fr;
	justify-content:space-between;
	margin-top:15px;
	width:100%;
}

/*styling the link words under activity icons and centering*/
div.icons a{
	text-decoration:none;
	text-align:center;
}

div.icons a p{
	font-size:17px;
	color:#26a682;
	margin-top:0;
}

div.icons img{
	width:80px;
}

/*specific styling for get started button on home page*/
button.get-started{
	/*display block to allow centering*/
	display:block;
	width:100%;
	/*max-width so button will center once reaching 300px*/
	max-width:300px;
	font-size:32px;
	font-weight:700;
	padding:3px;
	margin:auto;
	margin-bottom:30px;
	margin-top:15px;
}

/*display none on scroll button so it doesn't appear in mobile view*/
div.scroll{
	display:none;
}

/*page break images set to 100% of the viewport so they dont extend past it*/
img.page-break-img{
	width:100%;
	height:200px;
	object-fit:cover;
}
/*specific styling learn more buttons and aligning them to the right*/
button.learn-more{
	padding:11px 20px 11px 20px;
	font-size:20px;
	font-weight:700;
	/*changed to display block for more control and auto margin left so button will align to the right*/
	display:block;
	margin-right:0;
	margin-left:auto;
	margin-bottom:40px;
}

/*styling the about the president block*/
section.pres-block{
	background-color:#3c3b3a;
	padding:30px 0;
	width:100%;
}

/*styling the president image*/
div.pres-img-title img{
	width:175px;
	height:175px;
	/*border radius of at least half the width and height of image to make it a circle*/
	border-radius:90px;
	border:3px solid white;
	/*display block and margin auto to allow centering*/
	display:block;
	margin:auto;
	margin-bottom:25px;
}

/*styling the h4 text in president block*/
section.pres-block div.pres-img-title h4{
	font-size:24px;
	font-weight:600;
	color:#f2f2f2;
	/*centering and creating space around it*/
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
}

/*styling the p text in president block*/
section.pres-block p{
	font-weight:400;
	color:#f2f2f2;
	width:80%;
	margin:auto;
	margin-top:10px;
}

/*STYLES FOR ABOUT PAGE MOBILE VIEW*/

/*setting background images on about page*/
div.about-overlay{
	background:url("../img/about.jpg");
}

div.services-overlay{
	background:url("../img/services.jpg");
}

/*centering pictures in background and defining height*/
div.text-overlay{
	height:200px;
	/*fitting image to block*/
	background-size:cover;
	background-position:center;
	/*blending color with image*/
	background-color:#26a682;
	background-blend-mode:multiply;
	height:200px;
	/*display flex to allow text to center within it*/
	display:flex;
	justify-content:center;
}

/*centering text over images*/
div.text-overlay h2{
	color:white;
	align-self:center;

}

div.who-what-where p{
	font-weight:400;
}

/*styling grey blocks on about page*/
div.grey-block{
	background-color:#f2f2f2;
	padding-top:10px;
	padding-bottom:10px;
}

/*styling the page break subscribe section*/
section.page-break-block{
	background-color:#3c3b3a;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
}

section.page-break-block h4{
	font-size:18px;
	text-align:center;
	color:white;
	margin-top:0;
}

/*styling of subscribe button*/
section.page-break-block button{
	/*display block to allow centering*/
	display:block;
	box-shadow:none;
	font-size:20px;
	font-weight:700;
	padding:5px 15px 5px 15px;
	width:140px;
	margin:auto;
	margin-top:10px;
}

/*styling the h3 for the about services*/
div.services-block h3{
	font-style:normal;
	font-weight:700;
}

/*have these blocks that are for services images be invisible in mobile view*/
div.services-block img{
	display:none;
}

/*centering everything in the special thanks section*/
section.special-thanks{
	width:80%;
	margin:auto;
}

/*styling title in special thanks section*/
section.special-thanks h4{
	color:black;
	font-size:56px;
	font-weight:700;
	text-align:center;
	max-width:625px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

/*centering logos and aligning them in a column in special thanks section*/
section.special-thanks div.logos{
	display:flex;
	flex-direction:column;
	align-items:center;
}

/*adding space to images*/
section.special-thanks div.logos img{
	/*width 100% so images are responsive until reaching max-width*/
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}

/*setting each logo to center at specific width when it reaches appropriate size*/
section.special-thanks div.logos img:nth-child(1){
	max-width:435px;
}

section.special-thanks div.logos img:nth-child(2){
	max-width:202px;
}

section.special-thanks div.logos img:nth-child(3){
	max-width:220px;
}

section.special-thanks div.logos img:nth-child(4){
	max-width:152px;
}

/*STYLES FOR CONTACT PAGE*/

/*styling for contact form*/
div.contact-form{
	background-color:#26a682;
	padding:15px;
	border-radius:20px;
	box-shadow:0px 5px 5px #a9a9a9;
}

/*styles for contact form h1*/
div.contact-form h1{
	color:white;
	margin-top:0;
	margin-bottom:10px;
	margin-left:5%;
}

div.contact-form form label{
	color:white;
	font-size:18px;
	/*display block to allow margin to be applied*/
	display:block;
	margin-bottom:3px;
}

div.contact-form form input[type=text],
div.contact-form form textarea{
	/*display block for input boxes to have labels on seperate lines*/
	display:block;
	/*width 96% to fix spacing issue with input boxes*/
	width:97%;
	margin-bottom:10px;
	padding:7px 0px 7px 12px;
	border:none;
}

/*more styling for inputs*/
div.contact-form form input[type=text]{
	border-radius:25px;
	/*width 97% to fix spcing issue with input boxes*/
	width:97%;
}

div.contact-form form textarea{
	border-radius:10px;
	/*width 96% to fix spcing issue with textarea box*/
	width:96%;
	height:80px;
}

/*styling for submit button on contact form*/
div.contact-form form input[type=submit]{
	width:100%;
	padding:2px;
	color:white;
	font-size:32px;
	font-weight:700;
	background-color:#3c3b3a;
	border:none;
	border-radius:20px;
	box-shadow:0px 3px 3px #124A3A;
	margin-top:15px;
	margin-bottom:15px;
}

/*setting color of h4 in our location section to black*/
div.location h4{
	color:black;
}

/*resizing embeded map on contact page*/
div.map-embed iframe{
	width:100%;
	height:300px;
}

/*line-height to zero on parent of map so there is not white space beneath it*/
div.map-embed{
	line-height:0;
}

/*TABLET VIEW*/

@media(min-width:600px){
	/*font defaults at tablet view*/
	h1{
		font-size:72px;
	}

	h2{
		font-size:56px;
	}

	h3{
		font-size:40px;
	}

	h4{
		font-size:32px;
	}

	p{
		font-size:18px;
	}

	/*navigation at tablet view*/

	/*horizontal space between logo and nav*/
	header.header{
		flex-direction:row;
		justify-content:space-between;
	}

	/*aligning header content with rest of content*/
	header.header img{
		margin-left:10%;
	}

	nav.head-nav{
		margin-right:10%;
		width:30%;
		/*nav will grow until 250px wide then stop so it doesn't stretch too far*/
		max-width:250px;
	}

	/*have nav display horizontally on right side of screen*/
	nav.head-nav ul{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		margin-bottom:0;
	}

	/*adding vertical space to the top images, every page*/
	img.top-img{
		margin-bottom:40px;
	}

	/*STYLES FOR HOME PAGE TABLET VIEW*/

	div.top-block-home h4{
		font-size:24px;
	}

	/*aligning homepage services icons side by side using grid*/
	div.icons{
		grid-template-columns:repeat(4, 1fr);
		margin-top:30px;
	}

	button.get-started{
		font-size:40px;
		padding:8px;
		border-radius:30px;
		margin-top:40px;
		margin-bottom:40px;
	}

	/*scroll button styling*/
	div.scroll{
		/*display block to have it appear in tablet view*/
		display:block;
		text-align:center;
	}

	div.scroll a{
		text-decoration:none;
	}

	div.scroll a p{
		font-size:16px;
		color:black;
		margin-bottom:0;
	}

	/*bobbing animation for scroll button*/
	@keyframes bob-down{
		50%{
			transform:translate(0,30px) rotateX(180deg);
			/*had to add rotate to animation as well so arrow wouldn't flip while bobbing*/
		}
	}

	div.scroll a img{
		width:5%;
		margin-bottom:30px;
		/*flips arrow upside down*/
		transform:rotateX(180deg);
		animation-name:bob-down;
		animation-duration:1.5s;
		animation-iteration-count:infinite;
	  	animation-timing-function:linear;
	}

	/*style for learn more button*/
	button.learn-more{
		/*have learn more buttons grow in tablet view*/
		width:40%;
		/*have learn more buttons stop growing at 250px*/
		max-width:250px;
	}

	/*using flex box to have president block info side by side*/
	section.pres-block{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}

	/*adjusting spacing within president block*/
	section.pres-block div.pres-img-title{
		margin-left:10%;
		margin-top:20px;
	}

	section.pres-block p{
		font-size:24px;
		margin-right:10%;
		margin-left:40px;
		margin-bottom:0;
	}

	/*STYLES FOR ABOUT PAGE TABLET VIEW*/

	/*making images visible in the services in about page*/
	div.services-block img{
		display:block;
		width:100%;
		object-fit:cover;
		margin-top:35px;
		margin-bottom:23px;
		height:375px;
	}


	/*using grid to put content in blocks side by side divided into thirds*/
	div.services-block{
		display:grid;
		grid-template-columns:repeat(3, 1fr);
		grid-gap:15px;
	}

	/*aligning text in white services block to the right taking up 2/3 of the space using grid*/
	div.white-block.services-block aside{
		grid-column:2/4;
	}

	/*aligning the images to the top grid line in the white services block*/
	div.white-block.services-block img{
		grid-row:1;
	}

	/*aligning text content to the left and taking up 2/3 of space in the grey services blocks*/
	div.grey-block.services-block aside{
		grid-column:1/3;
	}

	div.grey-block.services-block img{
		grid-column:3/4;
	}

	/*padding so grey block content lines up with rest of content on page*/
	div.grey-block.services-block{
		padding-left:10%;
		padding-right:10%;
	}

	/*aligning the the subscribe content side by side using flex*/
	section.page-break-block{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}

	/*aligning subscribe content with the rest of the content*/
	section.page-break-block h4{
		margin-left:10%;
	}

	section.page-break-block button{
		margin-right:10%;
	}

	/*STYLES FOR CONTACT PAGE TABLET VIEW*/

	/*adding more padding to contact form*/
	div.contact-form form{
		padding:30px;
		/*padding-bottom 0 so contact form wont look too long*/
		padding-bottom:0;
		/*display flex to make it possible to align submit button to the right*/
		display:flex;
		flex-direction:column;
	}

	/*adding vertical space within contact form for easier viewing*/
	div.contact-form div{
		margin-bottom:20px;
	}

	div.contact-form div label{
		margin-bottom:10px;
	}

	div.contact-form form input[type=text],
	div.contact-form form textarea{
		padding:15px 0 15px 30px;
	}

	/*giving the sumit button a fixed width and aligning it to the right*/
	div.contact-form form input[type=submit]{
		width:200px;
		align-self:flex-end;
		padding-top:7px;
		padding-bottom:7px;
		border-radius:25px;
	}

	/*making the embeded map larger for tablet view*/
	div.map-embed iframe{
		height:500px;
	}
}

/*DESKTOP VIEW*/
@media(min-width:1250px){


	/*STYLES FOR HOME PAGE DESKTOP VIEW*/

	/*display gird to top content side by side*/
	div.top-block-home{
		display:grid;
		grid-template-columns:repeat(5, 1fr);
		/*adding horizontal and vertical spacing*/
		grid-gap:50px;
		margin-top:80px;
	}

	div.top-home-content{
		margin-top:80px;
		margin-left:0;
		grid-column:1/3;
	}

	/*aligning button to left with rest of content*/
	div.top-home-content button{
		margin-left:0;
	}

	/*adjusting vertical spacing*/
	div.top-home-content h1{
		margin-top:0;
		margin-bottom:30px;
	}

	div.icons{
		margin-top:50px;
		margin-bottom:50px;
	}

	div.icons a img{
		margin-top:10px;
	}

	div.top-block-home img.top-img{
		/*changing max-width so image can grow again*/
		max-width:100%;
		/*vertical spacing*/
		margin-top:80px;
		margin-left:40px;
		justify-self:end;
		/*have image take up 2/3 of space available*/
		grid-column:3/6;
	}

	/*have scroll button center below other content at the top of the home page*/
	div.scroll{
		grid-column:1/6;
	}

	/*setting background color for first discover block*/
	section.first-discover-block{
		background-color:#f2f2f2;
		/*padding on left and right to align content with page but keep grey background*/
		padding-left:10%;
		padding-right:10%;
		
	}

	/*using grid for both discover blocks to put content side by side*/
	section.first-discover-block,
	section.scnd-discover-block{
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-gap:30px;
		/*adding some vertical spacing*/
		padding-top:50px;
		padding-bottom:50px;
	}

	/*aligning second discover block with the rest of content*/
	section.scnd-discover-block{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}

	/*reverting height of images to 100% to make them responsive again*/
	img.page-break-img{
		height:100%;
	}

	/*vertical spacing adjustment*/
	section.first-discover-block div h3,
	section.scnd-discover-block div h3{
		margin-top:0;
	}

	/*in second discover block making the image show on the right side using grid lines*/
	section.scnd-discover-block img{
		grid-column:2/3;
		grid-row:1;
	}

	/*using flex to put image and title side by side*/
	div.pres-img-title{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		margin-left:30px;
	}

	/*adding spacing*/
	div.pres-title{
		margin-left:30px;
	}

	/*ABOUT PAGE AT DESKTOP VIEW*/

	div.white-block.about-top{
		/*display flex to align top portion of about page side by side*/
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		/*adding vertical space*/
		margin-top:80px;
		margin-bottom:80px;
	}

	div.white-block.who-what-where{
		/*display grid to align who, what, where section side by side*/
		display:grid;
		grid-template-columns:repeat(3, 1fr);
		grid-gap:40px;
		/*adding vertical space*/
		margin-top:80px;
		margin-bottom:80px;
	}

	/*adding vertical space to services sections*/
	div.services-block{
		margin-top:80px;
		/*changing the side by side alignment to each portion taking up half the space available in services section*/
		grid-template-columns:1fr 1fr;
		grid-gap:40px;
	}

	/*aligning the grey services section grid lines*/
	div.grey-block.services-block aside{
		grid-column:1/2;
	}

	div.grey-block.services-block img{
		grid-column:2/3;
	}

	div.grey-block.services-block{
		padding-top:80px;
		padding-bottom:80px;
	}

	/*adding vertical space to special thanks section*/
	section.special-thanks{
		margin-top:80px;
		margin-bottom:80px;
	}

	/*making logos in special thanks section align side by side instead of in a column*/
	section.special-thanks div.logos{
		flex-direction:row;
		justify-content:space-between;
	}

	/*STYLES FOR CONTACT PAGE DESKTOP*/

	div.contact-top{
		/*display grid to put content at top side by side*/
		display:grid;
		/*3fr 2fr so that the first part takes up a little more than half the page*/
		grid-template-columns:3fr 2fr;
		grid-gap:30px;
		margin-top:80px;
		margin-bottom:80px;
	}

	/*eliminating margin here so h1 lines up with contact form*/
	div.contact-content h1{
		margin-top:0;
	}

	/*giving submit button on contact form negative margin right to fix spacing issue caused by text inputs and textarea*/
	div.contact-form form input[type=submit]{
		margin-right:-1.5%;
	}

	/*display grid to put our location and map embed side by side*/
	div.location-map{
		display:grid;
		grid-template-columns:1fr 1fr;
		width:80%;
		margin:auto;
		/*adding vertical spacing*/
		margin-top:160px;
		margin-bottom:80px;
	}

	/*alinging our location to left and eliminating space at top so it lines up with map embed*/
	div.location{
		margin-left:0;
		margin-top:0;
	}

	/*eliminating space at top so our location lines up with map embed*/
	div.location-map h1{
		margin-top:0;
	}


}